<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.lxz.iphone" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>lxziPhone</name><js-module name="lxziPhone" src="www/lxziPhone.js"><clobbers target="cordova.plugins.lxziPhone" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="lxziPhone"><param name="ios-package" value="lxziPhone" /></feature></config-file><source-file src="src/ios/lxziPhone.m" /></platform></plugin>